.logoBorder {
    border-radius: 10px;
    border: 1px solid rgb(182, 127, 127);
    height: 35px;
    width: 35px;
    margin-top: 3px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}